<div>
    <div>
        <%=  image_tag "Screen (2).jpg", :class => "img-vl" %>
        <%=  image_tag "Screen.jpg", :class => "img-vl" %>
    </div>
    <div class="gfg">
        <div class="step-blocks float-l"></div>
        <div class="finished-block float-l">
            <div class="blank-block1"></div>
            <p class="pi-22">Your green friends</p>
            <br>
            <p class="pi-16">We Helps you discover the best plants for your space, delivers<br> them to your door and helps you look after them.</p>
            <hr class="hr-1">
            <div class="os-tp"></div>
            <div>
                <div class="float-l bloc1">
                    <%= image_tag "Photo.jpg", :class => "card-img" %>
                    <p class="p-text">Aglaonema — undemanding houseplant</p>
                    <p class="p-price">$ 220,00</p>
                </div>
                <div class="float-l bloc2">
                    <div class="bl2-l1">
                        <%= image_tag "Photo (1).jpg", :class => "photo-1" %>
                        <p class="p-text">Levizia — growing perennial plant</p>
                        <p class="p-price">$ 245,00</p>
                    </div>
                    <div class="bl2-l2">
                        <div class="img-bt-ls float-l">
                             <%= image_tag "Photo (2).jpg", :class => "photo-2" %>
                        </div>
                        <div class="txt-bt-li float-l">
                            <p class="p-text txt-ho ">Monstera — popular houseplant</p>
                            <p class="p-price ">$ 335,00</p>
                        </div>
                        
                    </div>
                </div>
                <div class="ts-go">
                </div>
            </div>
        </div>
        <div class="step-blocks float-l"></div>
        <div class="sli-otr">
        </div>
    </div>
    <div>
        <div class="sli-otr">
            <div class="step-blocks1 float-l"></div>
            <div class="sale float-l">
                <div class="blank-block1"></div>
                <p class="pi-22">Sale</p>
                <hr class="hr-1">
                <div>
                    <div class="list-ko col1 float-l">
                        <%= image_tag "Photo11.jpg", :class => "photo-11" %>
                        <p class="pi-16">Asplenium — tropical fern</p>
                        <p class="p-price">$ 420,00</p>
                    </div>
                    <div class="list-ko col2 float-l">
                        <%= image_tag "Photo-12.jpg", :class => "photo-12" %>
                        <p  class="pi-16">Ctenata — from warm edges</p>
                        <p class="p-price">$ 145,00</p>
                    </div>
                    <div  class="list-ko col3 float-l">
                        <%= image_tag "Photo-13.jpg", :class => "photo-13" %>
                        <p class="pi-16">Asplenium — tropical fern</p>
                        <p class="p-price">$ 420,00</p>
                    </div>
                    <div class="list-ko col4 float-l">
                        <%= image_tag "Photo-14.jpg", :class => "photo-14" %>
                        <p class="pi-16">Ctenata — from warm edges</p>
                        <p class="p-price">$ 145,00</p>
                    </div>
                </div>
            </div>
            <div class="step-blocks1 float-l"></div>
        </div>
    </div>
    <div>
        <div class="loi1 float-l">
            <div class="bal-5 float-l"></div>
            <div class="bloc1">
                <p class="pi-22 text-p2">Play with your plants</p>
            </div>
            <div class="bloc2">
                <p class="pi-22">Get to know your plants</p>
                <p>Comprehensive guides for all your favorite houseplants — covering<br> 
                the basics of watering and lighting needs, more advanced topics<br> 
                like how to propagate, and diagnosing common problems.</p>
            </div>
        </div>
        <div class="loi2 float-l">
            <%= image_tag "Photo 15.jpg", :class => "photo-15" %>
        </div>
    </div>


</div>